$color-dark: #2E3238;
$color-blue: #0078CF;
$color-light-blue: #E5F4FF;
$color-white: #ffffff;
$color-light-gray: #D5D8DD;
$color-red: #B21F00;

// цвет текста
$primary-color-text: $color-dark;
$secondary-color-text: $color-white;
$important-color-text: $color-red;



$primary-border-color: $color-light-gray;
$secondary-border-color: #99D5FF;
$primary-border-radius: 4px;

$primary-background-color: $color-white;
$secondary-background-color: $color-blue;
$third-background-color: $color-light-blue;
$fourth-background-color: $color-dark;


// шрифт
$primary-font-family: "OpenSans";
$primary-font-size: 14px;
$primary-font-weight: 400;
